{{> navs/index}}

<a href="/api/articles/" class="custom-card">
<div class="card bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header">Article</div>
  </div>
</a>

<a href="/api/notes/" class="custom-card">
<div class="card bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header">Notes</div>
  </div>
</a>

